// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Form
$form-control-background: transparent;
$form-control-border: none;
$form-control-box-shadow: none;
$form-control-border-radius: 0;
$form-control-focus-border-color: #ccc;

$component-active-bg: #41B6E6;
$form-check-input-checked-bg-color: #41B6E6;
$input-bg: trasparent;

$primary: #005EB8;

